@import url(Styles/header.css);
@import url(Styles/banner.css);
@import url(Styles/carrosel.css);
@import url(Styles/topicos.css);
@import url(Styles/contato.css);
@import url(Styles/rodape.css);

:root {
    --cor-de-fundo: #83858b;
    --branco: #FFFFFF;
    --laranja: #EB9b00;
    --Azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --azul: rgba(0, 47, 82, 1);
    --fonte-secundaria: "Josefin Sans";
    --preto: #000000;
    --cinza: #474646;
    --cinza_claro: #858585;






}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}